:root {
  --theme: #457461;
  --body: #fefefe;
  --text: #444444;
  --text-secondary: #4c4c4c;
  --content: #f8f9fa;
  --content-highlight: #f5f7f9;
  --border: #eeeff0;

  --anchor: #218cbd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: #8080c0;
    --body: #202328;
    --text: white;
    --text-secondary: #b3b3b3;
    --content: #1b1b1b;
    --border: #4c4c4c;
  }
}

body {
  background: var(--body);
  color: var(--text);
  font-family: Poppins;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
