
:root {
  --theme: #457461;
  --body: white;
  --text: black;
  --off-body: #f7fafc;
  --border: #eeeff0;

  --anchor: #218cbd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: #8080c0;
    --body: #191919;
    --text: white;
    --off-body: black;
    --border: #4c4c4c;
  }
}

body {
  background: var(--body);
  color: var(--text);
  font-family: Poppins;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
